datasources:
  default:
    driver-class-name: org.mariadb.jdbc.Driver
    db-type: mariadb
    dialect: MYSQL
    url: ${DB_URL:`jdbc:mariadb://localhost:3306/videos`}
    username: ${DB_USER:`todo`}
    password: ${DB_PASSWORD:`todosecret`}
micronaut:
  application:
    name: trending-hashtag-microservice
  server:
    port: 8081
#jpa:
#  default:
#    entity-scan:
#      packages:
#        - uk.ac.york.eng2.thm.domain
#    properties:
#      hibernate:
#        hbm2ddl:
#          auto: update
kafka:
  consumers:
    auto:
      offset:
        reset: earliest
  bootstrap:
    servers: ${KAFKA_BOOTSTRAP_SERVERS:`localhost:9094`}
logger:
  levels:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE